[% IF error == "antispam_comment_blocked" %]
  [% title = "Comment Blocked" %]
  New accounts are forbidden from posting URLs in bug comments. Please wait
  at least 24 hours before posting URLs. We are sorry for the inconvenience.
[% END %]
