<br />
<div>
  <button onclick="add_arches_edit()" type="button">Add arches:</button>
  <select name="addarches" multiple size="5" class="arch-selector">
    <option value="amd64@gentoo.org">AMD64</option>
    <option value="arm@gentoo.org">ARM</option>
    <option value="arm64@gentoo.org">ARM64</option>
    <option value="ia64@gentoo.org">IA64</option>
    <option value="ppc@gentoo.org">PPC</option>
    <option value="ppc64@gentoo.org">PPC64</option>
    <option value="x86@gentoo.org">X86</option>
    <optgroup label="exp profiles">
      <option value="hppa@gentoo.org">HPPA</option>
      <option value="m68k@gentoo.org">M68K</option>
      <option value="s390@gentoo.org">S390</option>
      <option value="sh@gentoo.org">SH</option>
      <option value="sparc@gentoo.org">SPARC</option>
    </optgroup>
    <optgroup label="pure ~arch">
      <option value="alpha@gentoo.org">ALPHA</option>
      <option value="mips@gentoo.org">MIPS</option>
      <option value="riscv@gentoo.org">RISC-V</option>
    </optgroup>
    <optgroup label="other teams">
      <option value="prefix@gentoo.org">Prefix</option>
      <option value="release@gentoo.org">Release</option>
    </optgroup>
  </select>
</div>
