<div id="gentoo-bar">
	<a href="/" title="Go to the Gentoo Bugzilla homepage" class="home-link">
		<img src="extensions/Gentoo/web/gentoo_org.png" alt="Gentoo Websites Logo" />
	</a>

	<div>
		Go to: 
		<a href="http://www.gentoo.org/">Gentoo Home</a>
		<a href="http://www.gentoo.org/doc/en/index.xml">Documentation</a>
		<a href="http://forums.gentoo.org/">Forums</a>
		<a href="http://www.gentoo.org/main/en/lists.xml">Lists</a>
		<a href="/" class="active">Bugs</a>
		<a href="http://planet.gentoo.org">Planet</a>
		<a href="http://store.gentoo.org">Store</a>
		<a href="http://wiki.gentoo.org">Wiki <span style="font-size: smaller; font-style: italic;">new!</span></a>
		<strong><a href="http://www.gentoo.org/main/en/where.xml">Get Gentoo!</a></strong>
	</div>
</div>
