<div id="gentoo-bar">
	<a href="/" title="Go to the Gentoo Bugzilla homepage" class="home-link">
		<img src="extensions/Gentoo/web/gentoo_org.png" alt="Gentoo Websites Logo" />
	</a>

	<div>
		Go to: 
		<a href="https://www.gentoo.org/">Gentoo Home</a>
		<a href="https://www.gentoo.org/support/documentation/">Documentation</a>
		<a href="https://forums.gentoo.org/">Forums</a>
		<a href="https://www.gentoo.org/get-involved/mailing-lists/">Lists</a>
		<a href="/" class="active">Bugs</a>
		<a href="https://planet.gentoo.org/">Planet</a>
		<a href="https://www.gentoo.org/inside-gentoo/stores/">Store</a>
		<a href="https://wiki.gentoo.org/">Wiki</a>
		<strong><a href="https://www.gentoo.org/downloads/">Get Gentoo!</a></strong>
	</div>
</div>
