[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # classifications: array of hashes, with an 'object' key representing a
  #                  classification object and 'products' the list of
  #                  product objects the user can enter bugs into.
  # target:   the script that displays this template.
  #%]

[% IF target == "enter_bug.cgi" %]
  [% title = "Enter $terms.Bug" %]
  [% subheader = "Select Product" %]
  [% h2 = BLOCK %]
    [% IF Param('useclassification') %]Next[% ELSE %]First[% END %],
    you must pick a product on which to enter [% terms.abug %]:
  [% END %]
[% ELSIF target == "describecomponents.cgi" %]
  [% title = "Browse" %]
  [% h2 = "Select a product category to browse:" %]
[% END %]

[% DEFAULT title = "Choose a Product" %]
[% PROCESS global/header.html.tmpl %]

[% USE Bugzilla %]
[% previous_params = Bugzilla.cgi.canonicalise_query('classification', 'product') %]

<h2>[% h2 FILTER html %]</h2>
[% IF target == "enter_bug.cgi" %]
<div class="important-message">
	Please consult the <a href="http://www.gentoo.org/doc/en/bugzilla-howto.xml#doc_chap6">Bug Reporting Guide</a>
	on how to choose the proper product for your issue.
</div>
[% END %]

<table id="choose_product">
[% IF target == "enter_bug.cgi" %]
	<tr><td colspan="2">If you are <strong>unsure</strong>, please file your bug in this product:</td></tr>
	<tr class="hilight">
		<th align="right" valign="top">
		<a href="[% target %]?product=Gentoo%20Linux
			[%- IF cloned_bug_id %]&amp;cloned_bug_id=[% cloned_bug_id FILTER uri %][% END -%]
			[%- IF format %]&amp;format=[% format FILTER uri %][% END %]">
		Gentoo&nbsp;Linux</a>:&nbsp;
		</th>
		<td valign="top"><b>The Gentoo Linux Distribution &ndash; Ebuilds and System related issues</b></td>
	</tr>
	<tr class="vspace">
		<td>&nbsp;</td>
		<td>
		<strong>Always attach the output of <tt>emerge --info</tt> to your bug report!</strong>
		<br /><br />
		Before reporting a bug, please make sure the issue you are about to file
		is not the result of a misconfiguration on your part.<br />
		Our other support venues (for instance the
		<a href="http://forums.gentoo.org/">Forums</a> or
		<a href="http://www.gentoo.org/main/en/irc.xml">IRC channels</a>)
		can help you find out whether the issue warrants a bug report.
		<br /><br />
		Examples for bugs in this product:
		<ul>
			<li>New package and version bump requests</li>
			<li>Compile errors (please follow the instructions contained in the error message!)</li>
			<li>Application crashes (be sure to have a <a href="http://www.gentoo.org/proj/en/qa/backtraces.xml">backtrace</a> available)</li>
			<li>General issues regarding your Gentoo system</li>
		</ul>

		Examples for bugs that should <span style="color: #a40000;">NOT</span> be filed here:
		<ul>
			<li>Security updates (use <em>Gentoo Security</em> below)</li>
			<li>Documentation updates (use <em>Documentation</em> below)</li>
			<li>Issues regarding our website and infrastructure (use <em>Gentoo Infrastructure</em> or <em>Website www.gentoo.org</em> below)</li>
			<li>Issues about <em>OpenRC</em>, <em>genkernel</em>, or <em>catalyst</em> (use <em>Hosted projects</em> below)</li>
		</ul>
		</td></tr>
		<tr>
		<td colspan="2"><hr />Or, use one of the following products <strong>if you know that your choice is correct:</strong></td>
		</tr>
[% END %]

[% FOREACH c = classifications %]
  [% IF c.object %]
    <tr>
      <th colspan="2" class="left">[% c.object.name FILTER html %]:
      [%+ c.object.description FILTER html_light %]</th>
    </tr>
  [% END %]

  [% FOREACH p = c.products %]
    <tr>
      <th class="right nowrap">
        <a href="[% target %]?product=[% p.name FILTER uri -%]
              [%- IF previous_params %]&amp;[% previous_params FILTER none %][% END -%]">
        [% p.name FILTER html %]</a>:
      </th>

      <td>[% p.description FILTER html_light %]</td>
    </tr>
  [% END %]

  <tr>
    <th colspan="2">&nbsp;</th>
  </tr>
[% END %]

</table>

[% PROCESS global/footer.html.tmpl %]
