<hr width="100%" />
<p><a href="/buglist.cgi?query_format=advanced&chfieldfrom=-1D&chfieldto=Now&chfield=%5BBug+creation%5D&order=bugs.bug_id">View Bugs Reported in the last 24 hours</a> |
<a href="/buglist.cgi?query_format=advanced&chfieldfrom=-12h&chfieldto=Now&chfield=%5BBug+creation%5D&order=bugs.bug_id">View Bugs Reported in the last 12 hours</a></p>
