<p>Welcome to the Gentoo Bug tracking system.</p>
<p>Before reporting bugs, please ensure that you read the <a href="https://www.gentoo.org/doc/en/bugzilla-howto.xml">Gentoo Bug Reporting Guide</a>.</p>
<p>Do you run a spider, bot or some automated process against the Gentoo bugzilla? Please read the <a href="/bots.html">Bot Policy</a>.</p>
<hr width="100%" />
